* {
    font-family: "Montserrat", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    margin: 44px 0 144px 76px;
}

.link-header {
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: #989d9c;
    cursor: pointer;
    margin-right: 23px;
}

.button-header {
    background: #665ae1;
    border-radius: 20.5px;
    color: #fff;
    border: none;
    width: 130px;
    height: 41px;
    line-height: 29px;
    font-weight: 600;
    font-size: 24px;
    cursor: pointer;
}

.img-logo {
    width: 568px;
    height: 500px;
    margin-left: 125px;
    display: inline-block;
}

section {
    display: inline-block;
    margin-left: 86px;
}

h1 {
    font-weight: 900;
    font-size: 100px;
    line-height: 122px;
    color: #515151;
}

.subtitle {
    font-weight: 500;
    font-size: 58px;
    line-height: 71px;
    color: #515151;
}

.description {
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: #7a7a7a;
    width: 540px;
    margin-top: 32px;
    margin-bottom: 64px;
}

.button-main {
    background: #3ff039;
    border-radius: 20.5px;
    color: #fff;
    border: none;
    width: 201px;
    height: 61px;
    line-height: 29px;
    font-weight: 600;
    font-size: 24px;
    cursor: pointer;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

@media screen and (max-width: 900px) {
    header {
        display: none;
    }

    .img-logo {
        position: static;
        width: 300px;
        height: auto;
        margin: 0 auto;
        display: block;
    }

    
    h1 {
        font-size: 48px;
        line-height: 58px;
    }

    .subtitle {
        font-size: 28px;
        line-height: 34px;
    }

    .description {
        text-align: center;
        font-size: 18px;
        line-height: 22px;
        width: auto;
        margin-top: 16px;
        margin-bottom: 32px;
    }

    .button-main {
        width: 150px;
        height: 45px;
        font-size: 18px;
        line-height: 22px;
        margin: 0 auto;
        display: block;
    }
}