* {

    box-sizing: border-box;
}

h1 {
    color: red;
    font-size: 24px;
    margin-top: 20px;
    margin-bottom: 20px;
}
input {
    border: 1px solid #ccc;
    padding: 8px;
    margin-bottom: 15px;
    border-radius: 4px;
}

p {
    font-size: 16px;
    line-height: 1.5;
    margin: 10px 0;
}

button {
    background-color: #9de600;
}