* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto Condensed", sans-serif;
}

header {
   margin-top: 47px;
   margin-left: 42px;   
}

.link-header {
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    letter-spacing: 0.875px;
    color: #17233d;
    margin-right: 32px;
    cursor: pointer;
}

#button-nav {
    color: #fff;
    background: #6fbf44;
    border: 1px solid #4cb538;
    border-radius: 6px;
    width: 124px;
    height: 51px;
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 1px;
}

div {
    display: inline-block;
    margin: 200px 0 0 121px;
}

img {
    margin: 163px 0 0 121px;
    display: inline-block;
}

h1 {
    font-weight: 700;
    font-size: 62px;
    line-height: 82px;
    letter-spacing: 0.596154px;
    color: #161a49;
}

p {
    font-weight: 400;
    font-size: 18px;
    line-height: 33px;
    letter-spacing: 0.5px;
    color: #4b505a;
    margin-top: 24px;
    margin-bottom: 40px;
    max-width: 445px;
}

#button-main {
    color: #fff;
    background: #6fbf44;
    border: 1px solid #4cb538;
    border-radius: 6px;
    width: 124px;
    height: 51px;
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 1px;
}